<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JupiReads | Dashboard</title>
    <link rel="stylesheet" href="/styles/user/home.css">
    <%- include('../partials/fonts') %>
</head>
<body>
    
    <%- include('../partials/navbar') %>

    <%- include('../partials/adminSidebar') %>

    <div class="content">
        <h1>Dashboard</h1>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>