<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JupiReads | Login</title>
    <link rel="stylesheet" href="/styles/login.css">
    <%- include('../partials/fonts') %>
</head>
<script src="https://kit.fontawesome.com/dcdd24e255.js" crossorigin="anonymous"></script>
<body>
    
    <div class="container" id="container">
        <form action="/admin/login" method="POST">
            <h1>Sign in</h1>
            <div class="input-container">
                <input placeholder="Email" type="email" id="email" name="email" required>
            </div>
            <div class="input-container">
                <input placeholder="Password" type="password" id="password" name="password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility()">
                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                </span> 
            </div>
            <% if (typeof error !== 'undefined') { %>
                <div style="color: red;"><%= error %></div>
            <% } %>
            <input class="sub" type="submit" value="Sign In">
        </form>
    </div>

    <div class="container1" id="container1">
        <img src="/logos/websiteLogo.png">
        <h1>JupiReads</h1>
   </div>

</body>
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>
</html>