<nav>
    <div class="logo">
        <img src="/logos/websiteLogo.png">
        <a href="/admin/home">
            <h1>JupiReads</h1>
        </a>
    </div>
    <div class="searchBar">
        <div><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></div>
        <form action="/admin/search" method="GET">
            <input type="text" placeholder="Search..." name="searchBar">
            <button type="submit">Search</i></button>
        </form>
    </div>
    <ul class="navbar">
        <li><a href="#">All Categories ▾</a></li>
        <li><a href="#">Services ▾</a></li>
        <li><a href="#">Stores ▾</a></li>
        <li><a href="#">Social Media ▾</a></li>
    </ul>
</nav>

<link rel="stylesheet" type="text/css" href="/styles/navbar.css">