<nav>
    <div class="logo">
        <img src="/logos/websiteLogo.png">
        <a href="/admin/home">
            <h1>JupiReads</h1>
        </a>
    </div>
    <div class="searchBar">
        <div><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></div>
        <form action="/admin/search" method="GET">
            <input type="text" placeholder="Search..." name="searchBar">
            <button type="submit">Search</i></button>
        </form>
    </div>
    <div class="navbar">
        <ul>
            <li class="navButton"><a href="#">Categories ▾</a>
                <ul>
                    <% const categories = ['Fiction', 'Non-Fiction', 'Mystery', 'Fantasy', 'Science Fiction', 'Romance', 'Drama', 'History','Programming','Mathematics', 'Physics','Music','Art','Cooking']  %>
                    <% categories.forEach(category => { %>
                        <li><a href="/admin/search?category=<%= category %>"><%= category %></a></li>
                    <% }) %>
                </ul>
            </li>
            <li class="navButton"><a href="#">Services</a></li>
            <li class="navButton"><a href="#">Stores</a></li>
            <li class="navButton"><a href="#"><i class="fa-solid fa-thumbs-up"></i></a>
                <ul class="socialMedia"> 
                    <li><a href="https://www.instagram.com/JupiReads"><i class="fa-brands fa-square-instagram" style="color: #000000;"></i></a></li>
                    <li><a href="https://www.facebook.com/JupiReads"><i class="fa-brands fa-facebook" style="color: #000000;"></i></a></li>
                    <li><a href="https://www.youtube.com/JupiReads"><i class="fa-brands fa-youtube" style="color: #000000;"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<link rel="stylesheet" type="text/css" href="/styles/navbar.css">