<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About JupiReads</h3>
                <p>JupiReads is your go-to bookstore for a wide variety of books across all genres. We aim to provide the best reading experience to book lovers everywhere.</p>
            </div>
            <div class="footer-section links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/admin/home">Home</a></li>
                    <li><a href="/admin/messaging">Problem Reported</a></li>
                    <li><a href="/admin/services">Services</a></li>
                    <li><a href="/admin/stores">Stores</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h3>Follow Us</h3>
                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank" class="fab fa-facebook"></a>
                    <a href="https://twitter.com" target="_blank" class="fab fa-twitter"></a>
                    <a href="https://instagram.com" target="_blank" class="fab fa-instagram"></a>
                    <a href="https://linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 JupiReads. All rights reserved.</p>
        </div>
    </div>
</footer>

<style>
    .footer {
        background-color: #333;
        color: white;
        margin-left: 70px;
        margin-top: 20px;
        text-align: center;
        padding: 20px 0;
    }

    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-section {
        flex: 1;
        padding: 20px;
        min-width: 200px;
    }

    .footer-section h3 {
        margin-bottom: 15px;
        font-size: 18px;
        color: rgba(255, 210, 0, 1);
    }

    .footer-section p {
        line-height: 1.6;
        font-size: 14px;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 10px;
    }

    .footer-section ul li a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .footer-section ul li a:hover {
        text-decoration: underline;
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }

    .social-icons a {
        margin: 0 10px;
        font-size: 40px;
    }


    .social-icons a.fa-facebook {
        background: #3b5998;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;  
    }

    .social-icons a.fa-twitter {
        background: #1da1f2;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }

    .social-icons a.fa-instagram {
        background: linear-gradient(-45deg,#ff8c00,rgb(255, 0, 221), #a200ff , #0033ff);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }

    .social-icons a.fa-linkedin {
        background: #0077b5;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }

    .footer-bottom {
        background-color: #333;
        color: aliceblue;
        padding-top: 10px;
        border-top: 1px solid #555;
        margin-top: 20px;
        text-align: center;
        margin-top: 0.5px;

    }
</style>
